body {
  background-color: darkslategray;
}
.App {
  padding: 10px;
  text-align: center;
}
.error {
  border: 1px solid red;
}
.error-message {
  color: red
}
.todoList{
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
}